*{
    margin:0;
    box-sizing:border-box;
}
body{
    margin:0;
    padding:0;
    font-family: "Poppins";
    background-color: #F5EFE7;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    font-size: 5rem;
}

.container h1:hover{
    text-decoration: underline;
}
.cards{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
    
    
    
}

.card {
    color: rgb(255, 255, 255);
    padding: 1rem;
    min-height: 8rem;
    width: auto;
    font-family: 'Poppins';
    background-color: #213555;
    box-shadow: 0px 10px 20px -20px #000000 ;
    text-align: center;
    position: relative;
    text-align: center;
    border-radius: 15px;
    transition: 0.5s;
    transform-origin: center;
}



.card:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 0.5);
}

.card i{
    height: 100px;
    width: 100px;
}

.card img{
    height: 100px;
    width: 100px;
}

.userinput{
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.userinput h2{
    font-size: 3rem;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
form{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    gap:1rem
}
button{
    border: none;
    color: white;
    background-color: #213555;
    width: 8rem;
    height: 3rem;
    text-align: center;
    font-family: 'Poppins';
    border-radius: 10px;
    cursor: pointer;
}   

button:hover{
    background-color: #4a6ba0;
}



footer{
    background-color: #213555;
    color: white;
    min-height: 5rem;
    margin-top: 20rem;
    text-align: center;
    padding-top: 2rem;
}
@media (min-width: 1200px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }

